<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 ">
                <h5>
                    SİTE HARİTASI
                </h5>
                <hr />
                <p>
                    <a href="/Home/About"><span class="glyphicon glyphicon-info-sign "></span> Hakkımızda</a> <br />
                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list "></span> Son Yazılanlar</a> <br />
                    <a href="/Home/Popular"><span class="glyphicon glyphicon-heart "></span> Popüler</a> <br />
                </p>
            </div>
            <div class="col-lg-4 text-uppercase">
                <br /><br />
                <p>Tüm Hakları Saklıdır &copy; Makaleler @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4">
                <h5>E-BÜLTEN ÜYELİĞİ</h5>
                <hr />
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="E-Posta Giriniz">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-send"></span>
                            Gönder
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </footer>

</div>

