@using Makale.Entities
@model List<Note>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            @Html.Partial("_PartialKategoriler")
        </div>

        <div class="col-md-9">

            <!--Notlar görüntüleniyor-->
            <div class="row">
                <h2 class="text-center">Sit amet, consectetur.</h2>
                <img class="slide-image" src="https://www.markham.ca/wps/wcm/connect/markham/a1c63218-35b7-407f-97d5-7cf731386a29/1/mpl-blog.png?MOD=AJPERES" alt="">
                <hr />
                <p>Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.</p>
                <p>Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor.</p>
                <p>Mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.</p>
            </div>

        </div>

    </div>

</div>
<!-- /.container -->
